html {
    font-size: 62.5%;
}

body {
    background-color: #ffe3eb;
    width: 100%;
    height: 100vh;
}
.home {
    display: flex;
    align-items: center;
    gap: 50px; /*gap between the image and description text*/
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh; /*the intro section fills the screen*/
}
.image {
    border-radius: 10px; /*rounds corners of image*/
    width: 400px;
    max-width: 100%;
    height: auto;
    display: inline;
}
.home-content {
    text-align: justify;
}
.hello {
    font-size: 20px;
    margin-bottom: 2px;
}
.welcome {
    font-size: 50px;
    margin-top: 2px;
}
.description {
    font-size: 22px;
}
.home-end {
    font-size: 22px;
}
.background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    scroll-snap-stop: always;
}
.education {
    font-size: 25px;
    align-items: center;
}
.college {
    font-size: 22px;
    font-style: italic;
    margin: 30px;
}
.course {
    font-size: 22px;
    font-style: normal;
}
.shs {
    font-size: 22px;
    font-style: italic;
    margin: 30px;

}
.strand {
    font-size: 22px;
    font-style: normal
}
.experiences {
    font-size: 25px;
}
.work {
    font-size: 22px;
    font-style: italic;
    margin: 30px;
}
.exp-year {
    font-size: 22px;
    font-style: normal;
}
.skills {
    font-size: 25px;
}
.soft {
    font-size: 22px;
    margin: 30px;
}
.technical {
    font-weight: bold;
}
.language {
    font-weight: bold;
}
.interest {
    font-weight: bold;
}
.about {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.lit {
    font-size: 22px;
}
.books {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sherlock {
    width: 300px;
    
}
.nancy {
    width: 300px;
}
.housemaid {
    width: 300px;
}
.music {
    font-size: 22px;
}
.artist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.one {
    width: 300px;
}
.taylor {
    width: 300px;
}
.watch {
    font-size: 22px;
}
.series {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.taxi {
    width: 300px;
}
.house {
    width: 300px;
}
.projects-section{
    min-height: 100vh;
    font-size: 25px;
    display: grid;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.projects {
    font-size: 25px;
}
.no-project {
    font-size: 22px;
}
.contact-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact {
    font-size: 25px;
}
.easier {
    font-size: 22px;
}
.following {
    font-size: 22px;
}
a{
    color: blue;
}
a:hover {
    color: crimson;
}